<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mappers.SBoardMapper">

	<!-- 게시판 기본목록 -->
	<select id="list" parameterType="com.study.sboard.SBoardDTO.SBoardDTO" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, writingtime, view_cnt, authority
			FROM stbl
			ORDER by sno desc
	</select>
	
	<insert id="write" parameterType="com.study.sboard.SBoardDTO.SBoardDTO">
		insert into stbl(title, writer, postpassword, content, authority)
			values(#{title}, #{writer}, #{postpassword}, #{content}, #{authority})
	</insert>
	
	<select id="read" parameterType="int" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, content, writingtime, view_cnt, postpassword, authority
			FROM stbl
			WHERE sno=#{sno}
	</select>
	
	<select id="readComment" parameterType="int" 
	resultType="com.study.sboard.SBoardDTO.CommentDTO">
		select postNum, commentNum, writer, commentContent, writeTime, commentPassword, authority
			FROM comment_table
			WHERE postNum=#{postNum}
	</select>
	
	<insert id="writeComment" parameterType="com.study.sboard.SBoardDTO.CommentDTO">
		insert into comment_table(postNum, writer, commentPassword, commentContent, authority)
			values(#{postNum}, #{writer}, #{commentPassword}, #{commentContent}, #{authority})
	</insert>
	
	<delete id="deleteComment" parameterType="com.study.sboard.SBoardDTO.CommentDTO">
		delete from comment_table
			WHERE postNum=#{postNum} and commentNum=#{commentNum}
	</delete>
	

	<delete id="delete" parameterType="int">
		delete from stbl where sno=#{sno}
	</delete>
	
	<update id="modify" parameterType="com.study.sboard.SBoardDTO.SBoardDTO">
		update stbl
			SET title=#{title},
				writer=#{writer},
				postpassword=#{postpassword},
				writingtime=NOW(),
				content=#{content}
			WHERE sno=#{sno}
	</update>
	
	<update id="postviews" parameterType="int">
		update stbl set view_cnt=view_cnt+1 
			WHERE sno=#{sno}
	</update>
	
	<!-- 검색 옵션에 따른 4가지 조회방법 -->
	<select id="searchtitle" parameterType="String" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, writingtime, view_cnt 
			FROM stbl
			WHERE title LIKE concat('%',#{searchKeyword},'%') 
			ORDER by sno desc
	</select>
	
	<select id="searchcontent" parameterType="String" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, writingtime, view_cnt 
			FROM stbl
			WHERE content LIKE concat('%',#{searchKeyword},'%') 
			ORDER by sno desc
	</select>
	
	<select id="searchwriter" parameterType="String" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, writingtime, view_cnt 
			FROM stbl
			WHERE writer LIKE concat('%',#{searchKeyword},'%') 
			ORDER by sno desc
	</select>
	
	<select id="searchtandc" parameterType="String" 
	resultType="com.study.sboard.SBoardDTO.SBoardDTO">
		select sno, title, writer, writingtime, view_cnt 
			FROM stbl
			WHERE title LIKE concat('%',#{searchKeyword},'%') 
				or content LIKE concat('%',#{searchKeyword},'%')
			ORDER by sno desc
	</select>
	<!-- 여기까지 검색 옵션에 따른 4가지 조회방법 -->

</mapper>